{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
      {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
  </head>
  <body>
    <header>
      <h2><a href="{% url 'articles:list' %}">LOGO</a></h2>
      <nav>
        <ul>
          {% if user.is_authenticated %}
          <li>
            <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
              {% csrf_token %}
              <button type="submit">Logout</button>
            </form>
          </li>
          <li>
            <h3><a class="highlight" href="{% url 'articles:create' %}" style="color:#69ffb6;">Create New Article!</a></h3>
          </li>
          {% else %}
          <li>
            <button type="submit"><h3><a href="{% url 'accounts:login' %}" style="color:#69ffb6;">Login</a></h3></button>
          </li>
          <li>
            <button type="submit"><h3><a href="{% url 'accounts:signup' %}" style="color:#69ffb6;">Signup</a></h3></button>
          </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    <div class="wrapper">
      {% block content %}

      {% endblock %}
    </div>
  </body>
</html>
